	<form action="/member/modify" method="post">
		{%csrf_token%}

		username: 
		<input type="text" name="username" value="{{username}}" readonly="yes" /> <br />
		{{msg_username}}<br />
		
		email:
		<input type="text" name="email" value="{{email}}" /><br />
		{{msg_email}}<br />
		
		password
		<input type="password" name="password" /><br />
		{{msg_password}}<br />
		
		password 확인
		<input type="password" name="password2" /><br />
		
		<input type="submit" value="수정" />
	</form>
