{% extends "gnb/default.html" %}
{% block contents_for_layout %}
{% load timeline_tags %}

<div class="media">
	<div class="media-left">
		<img src="{{page_owner.profile.profile_image_url_thumb}}" class="media-object img-rounded" />
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{page_owner.username}}</h4>
{% if user.is_authenticated and page_owner != user %}
    {% if page_owner.profile.follower|has:user %}
            <a href="{%url "timeline:unfollow" user_id=page_owner.id%}">unfollow</a>
    {% else %}
            <a href="{%url "timeline:follow" user_id=page_owner.id%}">follow</a>
    {% endif %}
{% endif %}
        
	</div>
</div>

<hr />
<h4>{{page_owner.username}} 님을 follow 하는 사람들</h4>

<div class="row">
{% for f in object_list %}
<!-- followers -->
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img src="{{f.profile_image_url_thumb}}" class="media-object img-rounded" style="margin-bottom:10px;"/>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="{%url "profile:profile" user_id=f.user.id%}">{{f.user.username}}</a></h4>
            </div>
        </div>    
    </div>
{% endfor %}
</div>


{% endblock %}