{% extends "gnb/default.html" %}
{% block contents_for_layout %}
{% load timeline_tags %}

{% include "timeline/profile_header.html" %}

<br /><br />

{% if page_owner == user %}
<hr />
<!-- 사진 올리기, 내 페이지인 경우에만 출력 -->
<form action="{%url "timeline:create"%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {% for field in form %}
        {% if field.name == 'photo' %}
        <div class="form-group {%if field.errors%}has-error{%endif%}">
            {{field.label_tag}}
            {{field}}
            <span class="help-block">{{field.help_text}}{{field.errors}}</span>
        </div>
        {% else %}
        <div class="form-group {%if field.errors%}has-error{%endif%}">
            {{field.label_tag}}
            {{field | apply_css:"form-control" }}
            <span class="help-block">{{field.help_text}}{{field.errors}}</span>
        </div>
        {% endif %}
    {% endfor %}
    <div id="map_write" style="width:600px; height:200px;" ></div>
    <button type="submit" class="btn btn-default" >올리기</button>
</form>
<hr />
{% endif %}


{% for p in posts %}
<!-- post -->
<div id="post_{{p.id}}" class="panel panel-default">
<div class="panel-body">
    <img src="{{p.owner.profile.profile_image_url_thumb}}" class="img-rounded" style="margin-bottom:10px;"/>
    <a href="{%url "profile:profile" user_id=p.owner.id%}">{{p.owner.username}}</a>
    <img src="{{p.image_url_thumb}}" class="img-responsive img-rounded" />
    <p style="text-align:right;">@ {{p.created_at}}</p>
    <pre>{{p.contents}}</pre>
    <p>
        <!-- 좋아요 -->
    {% if p.liked.count > 0 %}
        {%for l in p.liked.all%}
        <span>{{l.username}}</span>
        {%endfor%}
        가 좋아합니다.
    {%endif%}

    {% if p.liked|has:user %}
        <a href="{%url "timeline:unlike" post_id=p.id%}?next={%url "profile:profile" user_id=p.owner.id page=page%}#post_{{p.id}}">좋아요 취소</a>
    {% else %}
        <a href="{%url "timeline:like" post_id=p.id%}?next={%url "profile:profile" user_id=p.owner.id page=page%}#post_{{p.id}}">좋아요</a>
    {% endif %}
    
        <!-- 좋아요 끝 -->


        <!-- 코멘트 -->
        <ul class="list-group">

    {%for c in p.comments.all%}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="{{c.owner.profile.profile_image_url_thumb}}" class="img-rounded" style="max-width:25px;"/>
                    </div>
                    <div class="col-sm-9">
                        {{c.contents}}
                    </div>
                    <div class="col-sm-2">
        {% if c.owner == user %}
                        <a href="{%url "timeline:remove_comment" comment_id=c.id%}?next={%url "profile:profile" user_id=p.owner.id page=page%}#post_{{p.id}}">댓글 삭제</a>
        {% endif %}
                    </div>
                </div>
            </li>
    {%endfor%}
        </ul>
            
        <!-- 코멘트 쓰기 -->
        <form action="{%url "timeline:do_comment" post_id=p.id%}" method="post" class="form">
            {%csrf_token%}
            <input type="hidden" name="next" value="{%url "profile:profile" user_id=p.owner.id page=page%}#post_{{p.id}}" />
            <div class="form-group {%if comment_form.contents.errors%}has-error{%endif%}">
                <label for="{{comment_form.contents.id_for_label}}" class="col-sm-2 control-label">{{comment_form.contents.label}}</label>
                <div class="col-sm-8">
                {{comment_form.contents | apply_css:"form-control" }}
                </div>
                <div class="col-sm-2">
                <button type="submit" class="btn btn-default" >올리기</button>
                </div>
            </div>
        <!-- 코멘트 끝 -->
    </p>
</div>
</div>    
{% endfor %}


<!-- pagination -->
<nav>
    <ul class="pagination">
{% for p in paginator.page_range %}
    {% if p == page %}
        <li class="active"><a href="#"><b>{{p}}</b></a></li>
    {% else %}
        <li><a href="{%url "profile:profile" user_id=page_owner.id page=p%}">{{p}}</a></li>
    {% endif %}
{% endfor%}
    </ul>
</nav>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZJ5mSkOL9m3gGh3SAad_cUOY8ogYKis0&sensor=true"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    var map = null; // 지도 object
    var marker = null;

    $( document ).ready(function( $ ) {
        var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644)
        };

        // geolocation
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(get_pos_callback)
        }
        map = new google.maps.Map($("#map_write")[0], mapOptions);
        google.maps.event.addListener(map, "click", map_clicked);

    });
    
    function map_clicked(e) {
        var center = e.latLng;
        if (marker == null) {
            // 마커 새로 생성
            marker = new google.maps.Marker({
                position: center, // 위치
                map: map,        // 대상 map
                title:"여기서 쓴 글" // title
            });        
        } else {
            // 마커 위치 이동
            marker.setPosition(center);
        }
    }
    
    function get_pos_callback(position) {
       // 위치 받아오기
       var lat = position.coords.latitude; // 위도
       var lon = position.coords.longitude; // 경도
       var center = new google.maps.LatLng(lat, lon)

       // 지도 중심점을 현재 위치로 이동
       map.setCenter(center);

       // 마커 만들기
       marker = new google.maps.Marker({
           position: center, // 위치
           map: map,        // 대상 map
           title:"여기서 쓴 글" // title
       });
       
    }

</script>

 
{% endblock %}
